<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <ul class="listadoProductos">
      {{#if data}}
        <table>
          <tr>
            <td>id</td>
            <td>Titulo</td>
            <td>precio</td>
            <td>thumbnail</td>
          </tr>
          {{#each data}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.title}}</td>
              <td>{{this.price}}</td>
              <td><img src={{this.thumbnail}} alt="" srcset="" /></td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        <h1>No se encontraron productos</h1>
      {{/if}}

    </ul>
  </body>
</html>