<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
  </head>
  <body>
    <h1>
      Carpeta del proyecto:
      {{projectPath}}
    </h1>
    <h1>Parametros de entrada: {{vars}}</h1>
    <h1>Sistema operativo: {{os}}</h1>
    <h1>Version de node: {{nodeVersion}}</h1>
    <h1>rss: {{rss}}</h1>
    <h1>Process id : {{processId}}</h1>
    <h1>Path de ejecucion: {{processCwd}}</h1>
  </body>
</html>