<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="introListado">
      <h1>Listado de productos</h1>
      <a href="/">Volver al form</a>
    </div>
    <table>
      <% for(const prod of data){ %>
      <tr>
        <% for(const id in prod) { %>
        <th><%= id %></th>
        <% } %>
      </tr>
      <tr>
        <td><%= prod.id %></td>
        <td><%= prod.title %></td>
        <td><%= prod.price %></td>
        <td><img class="thumbnailImg" src="<%= prod.thumbnail %>" alt="" /></td>
        <% } %>
      </tr>
    </table>
  </body>
</html>
